.container {
	.userVisitLink {
		width: fit-content;
		margin: auto;
		padding: 40px 50px;
		border-radius: 10px;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

		&:hover {
			box-shadow: rgba(255, 1, 1, 0.35) 0px 5px 15px;
			cursor: pointer;
		}

		a {
			font-size: 25px;
			font-weight: 600;
			color: rgb(29, 29, 29);
		}
	}
}
